@charset "UTF-8";

div#footer-area {
	width: 100%;
	height: 120px;
	background-color: #131A22;
}

p#footer {
	font-size: 90%;
	font-weight: bold;
	font-style: italic;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
}
