@charset "UTF-8";

footer {
	position: absolute;
	width: 100%;
	height: 240px;
	bottom: 0;	/* フッターを画面下部につける */
	font-size: 90%;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #FFFFFF;
	background-color: #131A22;
}

p {
	margin-top: 80px;
}