@charset "UTF-8";

a.header-item-link {
	height: 90px;
	color: #FFFFFF;
	text-decoration: none;
}

a.header-item-link:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#header-area {
	width: 100%;
	height: 90px;
	padding-left: 60px;
	background-color: #131A22;
}

#header-area-inner {
	position: relative;
}

div.header-item {
	display: inline-block;      /* インラインブロック要素にする */
	margin-top:  40px;             /* 余白指定 */
	padding-left:  20px;             /* 余白指定 */
	padding-right:  20px;             /* 余白指定 */
    height: 50px;              /* 高さ指定 */
    color: #FFFFFF;
    font-weight: bold;

}

div.header-item:hover {
	cursor: pointer;
}

span.headrer-item-title {
	padding-left: 8px;
}

div#user-menu-area {
	width: 120px;
	float: right;
	margin-top:  30px;             /* 余白指定 */
}

img#user-menu-icon {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width: 50px;             /* ※縦横を同値に */
    height: 50px;            /* ※縦横を同値に */
}

div#user-menu-box {
	position: absolute;
	top: 100px;
	right: 80px;
	z-index: -9999px;
	width: 280px;
	padding: 30px 20px;
	background-color: purple;
}