@charset "UTF-8";

html, body {
	font-family: 'メイリオ';
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
}

input[type="text"], input[type="email"], input[type="password"] {
	width: 560px;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

li {
	list-style: none;
}

span.error {
	font-weight: bold;
	font-size: 80%;
	color: red;
}

div#contents {
	width: 100%;
	padding-top: 50px;
}

div#contents-inner {
	width: 50%;
	margin: 0 auto;
}